{% extends 'staff_config_base.html' %}

{% block content %}

<div class="flexbox-item config_content">
    <form id="minigame_settings" action="{{ url_for('staffUI_bp.apply_minigame_settings') }}" method="post">
        <div id="general">
            <h2>General Minigame Settings</h2>
            <div class="menu_item">
                <label class="checkbox-container"> Make cars drive at constant speed while drivers are playing a minigame:
                    <input type="checkbox" id="auto_drive_constantly" name="auto_drive_constantly">
                    <span class="custom-checkbox"></span>
                </label>
            </div>
            <div class="menu_item">
                <label for="driving_speed_while_playing">Speed % of drivers' cars while they are playing:</label>
                <input type="number" id="driving_speed_while_playing" name="driving_speed_while_playing" min="0" max="100">
            </div>
        </div>

        <div id="available_minigames">
            <h2>Available Minigames</h2>
            <div class="menu_item">
                <label class="checkbox-container"> Minigame_Test:
                    <input type="checkbox" id="Minigame_Test" name="Minigame_Test">
                    <span class="custom-checkbox"></span>
                </label>
            </div>
            <div class="menu_item">
                <label class="checkbox-container"> Number_Guesser:
                    <input type="checkbox" id="Number_Guesser" name="Number_Guesser">
                    <span class="custom-checkbox"></span>
                </label>
            </div>
        </div>
        <div id="specific_settings">
            <h2>Specific Settings</h2>
            <div id="Number_Guesser_Settings">
                <h3>Number Guesser Settings:</h3>
                <div class="menu_item">
                    <label for="Number_Guesser_Max_tries">Maximum number of attempts to guess:</label>
                    <input type="number" id="Number_Guesser_Max_tries" name="Number_Guesser_Max_tries" min="1" max="3">
                </div>
                <div class="menu_item">
                    <label for="Number_Guesser_Number_range">Minimum number in the range (default 1):</label>
                    <input type="number" id="Number_Guesser_Number_range" name="Number_Guesser_Number_range" min="1" max="10">
                </div>
            </div>
        </div>
        <button type="submit">Apply changes... </button>
    </form>
</div>
<script>


    function displayCurrentConfig(data) {
        var settings = {{ settings | tojson }};

        // Checkboxes
        document.getElementById('auto_drive_constantly').checked = settings['minigame']['auto_drive_constantly']
        let minigameCheckboxes = ['Minigame_Test', 'Number_Guesser']
        minigameCheckboxes.forEach( (id) => {
            document.getElementById(id).checked = settings['minigame']['games'][id]
        })

        // numbers
        driving_speed_while_playing.value = settings.minigame.driving_speed_while_playing;
        Number_Guesser_Max_tries.value = settings.minigame['number-guesser']['max-tries'];
        Number_Guesser_Number_range.value = settings.minigame['number-guesser']['number-range'];

    }


    // Call the function after the DOM has fully loaded
    document.addEventListener('DOMContentLoaded', displayCurrentConfig);
</script>


{% endblock %}